body {
  padding: 5px 4%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: x-large;
}

h2 {
  font-size: large;
}

p, figcaption {
  font-size: medium;
}

p {
  text-align: justify;
}

img {
  max-width: 100%;
}

figure {
  margin: 25px auto;
}
